<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.filesavedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContentProvider.ContentProviderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FileSave.FileSaveActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SharePreferences.FileSharePreferenceActivity" />
        <activity android:name=".SQLSave.SQLSaveActivity" />

         <!--<activity android:name=".ContentProvider.ContentProviderActivity"/>-->

        <provider
            android:name=".ContentProvider.MyContentProvider"
            android:authorities="com.demo.filesavedemo.provider"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>